- var panagram = 'Bass verwünscht jäh Xylophon, Querflöte und ganze Musik.'

h2#typography Typography

div.row
	div.col-sm-4
		h3 Headings
		h1= panagram
		h2= panagram
		h3= panagram
		h4= panagram
		h5= panagram
		h6= panagram
		
	div.col-sm-4
		h3 Font styles
		p
			strong= panagram
		p
			i= panagram
		p
			small= panagram
		p
			abbr(title='Abbreviation') Abbr.
		p 20m<sup>2</sup> and H<sub>2</sub>O
		p
			blockquote Use the force, Harry. <small>-Gandalf</small>
		
	div.col-sm-4
		h3 Font families
		p(style="font-family: sans-serif")= panagram
		p(style="font-family: serif")= panagram
		p(style="font-family: monospace")= panagram

h2#lists Lists
div.row
	div.col-sm-4
		h3 Unordered list
		ul
			-var i = 5; while(i--)
				li Item #{5-i}

	div.col-sm-4
		h3 Ordered list
		ol
			-var i = 5; while(i--)
				li Item #{5-i}

	div.col-sm-4
		h3 Definition list
		dl
			-var i = 5; while(i--)
				dt Term #{5-i}
				dd Definition #{5-i}

h3 Table
table
	tr
		th #
		th Column heading
		th Column heading
		th Column heading

	- var i = 5; while(i--)
		tr
			td= 5-i
			td Column content
			td Column content
			td Column content
	
